.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

p{
  color: rgb(238, 144, 144)
}

.pokemon-detail{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

form input{
  height: 30px;
  width: 250px;
  border-radius: 5px;
  margin: 10px;
}

